@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2> 

<h4>O Undertow é um sistema multiplataforma desenvolvido por <b>Felipe Munhoz Afonso</b>.</h4>
<p>O Undertow é uma plataforma genérica de fácil implementação que integra uma loja virtual e 
    um sistema comercial. Feito com a intenção de ser prático e rápido, ele é a opção perfeita 
    para pequenas e médias empresas que desejam automatizar seu comércio</p>
