@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Netuno Soluções<br />
    São Pedro, São Paulo<br />
    <abbr title="Telefone">T:</abbr>
    (19)99659.1558
</address>

<address>
    <strong>Via Email:</strong>   <a href="mailto:fmunhozafonso@gmail.com">fmunhozafonso@gmail.com</a><br />
</address>